.container {
    background-color: whitesmoke;
    height: 300px;
    width: 300px;
    transition: transform 1s;
}
.container2 {
    background-color: lightskyblue;
    height: 300px;
    width: 300px;
}
.container:hover {
    color: lightcoral;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
    transform: scale(1.05);
    border: 1px solid black;
}
.container2:hover {
    color: blueviolet;
    cursor: pointer;
}


/* @media (min-width: 600px) and (max-width: 900px) {
    .container {
        background-color: red;
    }
    .container2 {
        height: 250px;
        width: 250px;
        background-color: lightcyan;
        border-radius: 50%;
    }
} */